@import url('https://fonts.googleapis.com/css?family=Lato');
/* SASS Variables */

$font_stack: Lato, sans-serif;
$green_color: #14bd4c;
$darker_green: #0a8a35;
$silver_color: #ecf0f1;
$white_color: #FFF;
$black_color: #000;
$section_grey: #e6e6e6;

/* General Style */

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: $font_stack;
}
.button {
	height: 50px;
	width: 250px;
	border-radius: 20px;
	font-size: 25px;
	font-weight: bold;
	border: none;
	box-shadow: 0 20px 30px 0 $black_color;
	cursor: pointer;
}
.activeButton:active {
	vertical-align: top;
	padding: 8px 13px 6px;
}
.container {
	margin-top: 50px;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Navigation */

header {
	background-color: $white_color;
	position: fixed;
	width: 100%;
	overflow: hidden;
	top: 0;
	.menu {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-end;
		.portfolio {
			display: flex;
			align-items: center;
			flex: 1;
			font-weight: bold;
			font-size: 22px;
			text-transform: uppercase;
		}
		ul {
			display: flex;
			justify-content: flex-end;
			list-style: none;
			margin: 0;
			height: 50px;
			li {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 150px;
				cursor: pointer;
				transition: 1s;
				a {
					text-decoration: none;
					color: $black_color;
					font-weight: bold;
					&:hover {
					color: $green_color;
					font-size: 18px;
					transition: 0.5s;
					}
				}
			}
		}
	}
}

/* Jumbotron section*/

.jumbotron {
	background-color: $green_color;
	height: 100vh;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	.particles {
		width: 100%;
		height: 100%;
		background-image: url('');
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		postition: relative;
		.text {
			color: white;
			font-size: 40px;
			font-weight: bold;
			position: absolute;
			h1 {
				margin: 0;
			}
		}
		.button-technology {
			background-color: $white_color;
			color: $green_color;
			&:hover {
				background-color: black;
				color: $white_color;
				transition: .8s;
				box-shadow: none;
			}
		}
	}
}

/* Skills section */

.img-html {background-image: url("../images/HTML5.png");}
.img-css3 {background-image: url("../images/CSS3.png");}
.img-js {background-image: url("../images/JS.png");}

.skills {
	height: 100vh;
	background-color: $white_color;
	.flex-row {
		display: flex;
		max-width: 1200px;
		margin: 0 auto;
			.progress-container {
				display: flex;
				flex-direction: column;
				max-width: 1200px;
				margin: 0 auto;
				width: 100%;
				.image-class {
					cursor: pointer;
				}
				.image1 {
					img {
						width: 100%;
					}
				}
				.image2 {
					img {
						width: 100%;
					}
				}
				.image3 {
					img {
						width: 100%;
					}
				}
				.progress {
					background-color: #DDDDDD;
					margin: 20px 10px;
					display: flex;
					align-items: center;
					font-size: 30px;
					font-weight: bold;
					width: 100%;
					cursor: pointer;
					box-shadow: 0 20px 30px 0 $black_color;
					color: #DDDDDD;
					.html {
						width: 0.1%;
						text-align: right;
						display: flex;
					}
				}
			}
		}
	}

.skills .flex-row .progress-container .image1:hover + .progress .html {
	background-color: #F16529;
	box-shadow: none;
	color: $black-color;
	transition: 1s;
	width: 30%;
}
.skills .flex-row .progress-container .image1:hover + .progress {
	box-shadow: none;
	transition: 1s;
}




					// margin: 0 30px;
					// img {
					// width: 25%;
					// margin: 0 30px;
					// }
	// .progress-container {
	// 	display: flex;
	// 	flex-direction: row;
	// 	max-width: 1200px;
	// 	margin: 0 auto;
	// 	width: 100%;
	// 	.progress {
	// 		background-color: #BDC3C7;
	// 		margin: 20px 10px;
	// 		display: flex;
	// 		align-items: center;
	// 		font-size: 30px;
	// 		font-weight: bold;
	// 		width: 100%;
	// 		cursor: pointer;
	// 		box-shadow: 0 20px 30px 0 $black-color;
	// 		color: $white-color;
	// 		.html {
	// 			width: 0.1%;
	// 			// background-color: $green_color;
	// 			text-align: right;
	// 			&:hover {
	// 				background-color: #F16529;
	// 				box-shadow: none;
	// 				color: $black-color;
	// 				transition: 1s;
	// 				width: 30%;
	// 			}
	// 		}
// 			.css3 {
// 				width: 30%;
// 				background-color: $green_color;
// 				text-align: right;
// 				&:hover {
// 					background-color: #369CD6;
// 					color: $black-color;
// 					transition: .8s;
// 				}
// 			}
// 			.js {
// 				width: 10%;
// 				background-color: $green_color;
// 				&:hover {
// 					background-color: #F7DF1E;
// 					color: $black-color;
// 					transition: .8s;
// 				}
// 			}
// 			&:hover {
// 				transition: .8s;
// 				box-shadow: none;
// 				background-color: #999999;
// 			}
// 		}
// 	}
// }


/* Projects section */

.projects {
	height: 100vh;
	background-color: #bdc3c7;
}

/* Game section */
.span-label {
	height: 40px;
	width: 100px;
	margin: 0 10px;
	border: 2px solid;
	border-radius: 10px;
	font-weight: bold;
}
.rock {
	color: $white_color;
	background-color: $black_color;
	border: $black_color;
}
.paper {
	color: $black_color;
	background-color: $white_color;
	border: $white_color;
}
.scissors {
	color: $black_color;
	background-color: #999999;
	border: $green_color;
}
.game {
	height: 100vh;
	background-color: #e6e6e6;
	margin: 0;
	background-image: url('../images/girl_wall2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: -80px;
	background-size: 100% 100%;
	> h1 {
		text-align: center;
		font-size: 60px;
		margin: 0;
		margin-bottom: 150px;
		padding-top: 5%;
		color: $white_color;
	}
	.container-title {
		flex-wrap: wrap;
		margin: 100px auto;
		> h1 {
			color: $white_color;
			font-size: 30px;
		}
	}
	.new-game-container {
		.newGameButton {
			background-color: $green_color;
			&:hover {
				color: $white_color;
				background-color: #0d7830;
				transition: .8s;
				box-shadow: none;
			}
		}
	}
	.player-pick-container {
		flex-wrap: wrap;
		margin: 70px 0;
		.pickButton {
			margin: 5px 10px;
			&:hover {
				background-color: $black_color;
				color: $white_color;
				transition: .6s;
				box-shadow: none;
			}
		}
	}
	.results {
		font-size: 30px;
		color: $white_color;
		font-weight: bold;
		.row {
			margin: 0 auto;
			width: 40vw;
			font-weight: bold;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			.player {
				display: flex;
				justify-content: flex-start;
				flex-grow: 1;
				:nth-child(2) {
					margin: 0 0 10px 10px;
				}
			}
			.VS {
				display: flex;
				justify-content: center;
				flex-grow: 2;
			}
			.computer {
				display: flex;
				justify-content: flex-end;
				flex-grow: 1;
				:nth-child(2) {
					margin: 0 0 10px 10px;
				}
			}
			.playerChoice {
				display: flex;
				justify-content: flex-start;
				flex-grow: 1;
			}
			.computerChoice {
				display: flex;
				justify-content: flex-end;
				flex-grow: 1;
			}
			.playerResult {
				display: flex;
				justify-content: flex-start;
				flex-grow: 1;
				margin: 10px 0;
			}
			.computerResult {
				display: flex;
				justify-content: flex-end;
				flex-grow: 1;
				margin: 10px 0;
			}
			.playerChoice, .computerChoice, .playerResult, .computerResult {
				font-size: 25px;
				font-weight: normal;
			}
		}
	}
}
footer {
	background-color: $black_color;
	color: $white_color;
	.footer-container {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		justify-content: center;
		max-width: 1200px;
		height: 80px;
		font-size: 15px;
		font-weight: bold;
		.copyright {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-grow: 1;
		}
		.contact {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;
		}
		.phone {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;
		}
		.city {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			flex-grow: 1;
		}
	}
}

