@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Mitr|Nova+Square");
@import url("https://fonts.googleapis.com/css?family=Mitr|Noto+Sans|Nova+Square");
@import url("https://fonts.googleapis.com/css?family=Eagle+Lake|Mitr|Noto+Sans");
/*------------------------------*/
/* SASS Variables */
/*------------------------------*/
/*------------------------------*/
/* General Style */
/*------------------------------*/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Lato, sans-serif; }

.button {
  height: 50px;
  width: 250px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  box-shadow: 0 10px 40px 0 #2162AF;
  cursor: pointer;
  outline: none; }

.activeButton:active {
  vertical-align: top;
  padding: 8px 13px 6px; }

.container {
  margin-top: 50px; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.responsive-row {
  display: flex;
  flex-wrap: wrap; }

/*------------------------------*/
/* Navigation */
/*------------------------------*/
header {
  background-color: #FFF;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0; }
  header .menu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end; }
    header .menu .portfolio {
      display: flex;
      align-items: center;
      flex: 1;
      font-weight: bold;
      font-size: 22px;
      text-transform: uppercase; }
    header .menu ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      margin: 0;
      height: 50px; }
      header .menu ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        cursor: pointer;
        transition: 1s; }
        header .menu ul li a {
          text-decoration: none;
          color: #000;
          font-weight: bold;
          position: relative; }
          header .menu ul li a:hover {
            font-size: 20px;
            transition: 0.4s; }
          header .menu ul li a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: -5px;
            left: 0;
            background-color: #2162AF;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.4s ease-in-out 0s; }
          header .menu ul li a:hover:before {
            visibility: visible;
            transform: scaleX(1); }

/*------------------------------*/
/* Jumbotron section*/
/*------------------------------*/
.jumbotron {
  background-color: #000;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  width: 100%; }
  .jumbotron .particles {
    width: 100%;
    height: 100%;
    background-image: url("");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    postition: relative; }
    .jumbotron .particles .text {
      color: white;
      font-size: 40px;
      font-weight: bold;
      position: absolute; }
      .jumbotron .particles .text h1 {
        margin: 0; }
    .jumbotron .particles .button-technology {
      background-color: #FFF;
      color: #2162AF; }
      .jumbotron .particles .button-technology:hover {
        background-color: #369CD6;
        color: #FFF;
        transition: .8s;
        box-shadow: none; }

/*------------------------------*/
/* Skills section */
/*------------------------------*/
.img-html {
  background-image: url("../images/HTML5.png"); }

.img-css3 {
  background-image: url("../images/CSS3.png"); }

.img-js {
  background-image: url("../images/JS.png"); }

.skills {
  height: 100vh;
  background-color: #FFF;
  position: relative;
  background: linear-gradient(180deg, #000, #13305B, #499ADB); }
  .skills .flex-row {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    margin-top: -300px;
    left: 0;
    right: 0; }
    .skills .flex-row .progress-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 20px;
      width: 100%; }
      .skills .flex-row .progress-container .image-class {
        cursor: pointer;
        text-align: center; }
      .skills .flex-row .progress-container .image1 img {
        width: 90%; }
      .skills .flex-row .progress-container .image2 img {
        width: 90%; }
      .skills .flex-row .progress-container .image3 img {
        width: 90%; }
      .skills .flex-row .progress-container .progress {
        background-color: #DDDDDD;
        box-sizing: border-box;
        margin: 20px auto;
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        width: 100%;
        box-shadow: 0 20px 30px 0 #000;
        color: #DDDDDD; }
        .skills .flex-row .progress-container .progress .html {
          width: 0.1%; }
        .skills .flex-row .progress-container .progress .css3 {
          width: 0.1%; }
        .skills .flex-row .progress-container .progress .js {
          width: 0.1%; }
  .skills .career-goal {
    position: absolute;
    bottom: 10%;
    max-width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0; }
    .skills .career-goal p {
      color: #FFF;
      font-family: 'Mitr', sans-serif;
      font-weight: semi-bold;
      font-size: 30px;
      text-align: center;
      cursor: pointer; }
      .skills .career-goal p:hover {
        box-shadow: 0 0 20px 10px #e6e6e6;
        transition: 1s; }

/*------------------------------*/
/* HOVER SKILLS */
/*------------------------------*/
/* Hover HTML */
.skills .flex-row .progress-container .image1:hover {
  transform: scale(1.1);
  transition: 1s; }

.skills .flex-row .progress-container .image1:hover + .progress .html {
  background-color: #F16529;
  box-shadow: none;
  color: #000;
  transition: 1s;
  width: 30%;
  text-align: right; }

.skills .flex-row .progress-container .image1:hover + .progress {
  box-shadow: none;
  transition: 1s; }

/* Hover CSS3 */
.skills .flex-row .progress-container .image2:hover {
  transform: scale(1.1);
  transition: 1s; }

.skills .flex-row .progress-container .image2:hover + .progress .css3 {
  background-color: #369CD6;
  box-shadow: none;
  color: #000;
  transition: 1s;
  width: 30%;
  text-align: right; }

.skills .flex-row .progress-container .image2:hover + .progress {
  box-shadow: none;
  transition: 1s; }

/* Hover JS */
.skills .flex-row .progress-container .image3:hover {
  transform: scale(1.05);
  transition: 1s; }

.skills .flex-row .progress-container .image3:hover + .progress .js {
  background-color: #F7DF1E;
  box-shadow: none;
  color: #000;
  transition: 1s;
  width: 10%;
  text-align: right; }

.skills .flex-row .progress-container .image3:hover + .progress {
  box-shadow: none;
  transition: 1s; }

/*------------------------------*/
/* Projects section */
/*------------------------------*/
.projects {
  height: 100vh;
  background: linear-gradient(180deg, #499ADB, #9FCCED);
  max-width: 100%;
  position: relative; }
  .projects h1 {
    color: #FFF;
    font-size: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center; }
  .projects .flex-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    position: absolute;
    top: 50%;
    margin-top: -310px;
    left: 0;
    right: 0; }
    .projects .flex-row .portfolio h1 {
      color: #000;
      font-family: 'Mitr', sans-serif;
      font-size: 50px; }
    .projects .flex-row .fire h1 {
      color: #C63473;
      font-family: 'Eagle Lake', cursive;
      font-size: 50px; }
    .projects .flex-row .company h1 {
      color: #313332;
      font-family: 'Open Sans', sans-serif;
      font-size: 50px; }
    .projects .flex-row .projects-images {
      cursor: pointer;
      text-align: center;
      padding: 0 10px; }
      .projects .flex-row .projects-images img {
        width: 400px;
        max-width: 100%; }
        .projects .flex-row .projects-images img:hover {
          transform: scale(1.1);
          transition: .4s; }
      .projects .flex-row .projects-images a {
        text-decoration: none; }
        .projects .flex-row .projects-images a .github {
          cursor: pointer;
          display: flex;
          justify-content: center;
          width: 100px;
          height: 100px;
          margin: 0 auto;
          margin-top: 30px;
          font-size: 60px;
          border-radius: 20px;
          border: none;
          outline: none; }
          .projects .flex-row .projects-images a .github:hover {
            color: #FFF;
            background-color: #000;
            transition: .6s;
            transform: scale(1.1); }

/*------------------------------*/
/* Game section */
/*------------------------------*/
.span-label {
  height: 40px;
  width: 100px;
  margin: 0 10px;
  border: 2px solid;
  border-radius: 10px;
  font-weight: bold; }

.rock {
  color: #FFF;
  background-color: #000;
  border: #000; }

.paper {
  color: #000;
  background-color: #FFF;
  border: #FFF; }

.scissors {
  color: #000;
  background-color: #999999;
  border: #14bd4c; }

.game {
  height: 100vh;
  background-color: #e6e6e6;
  margin: 0;
  background-image: url("../images/girl_wall2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -80px;
  background-size: 100% 100%;
  box-shadow: 0 10px 30px 10px #FFF; }
  .game > h1 {
    text-align: center;
    font-size: 60px;
    margin: 0;
    margin-bottom: 150px;
    padding-top: 5%;
    color: #FFF; }
  .game .container-title {
    flex-wrap: wrap;
    margin: 100px auto; }
    .game .container-title > h1 {
      color: #FFF;
      font-size: 30px; }
  .game .new-game-container .newGameButton {
    background-color: #369CD6;
    box-shadow: 0 10px 40px 10px #FFF; }
    .game .new-game-container .newGameButton:hover {
      color: #369CD6;
      background-color: #FFF;
      transition: 1s;
      box-shadow: none; }
  .game .player-pick-container {
    flex-wrap: wrap;
    margin: 70px 0; }
    .game .player-pick-container .pickButton {
      margin: 5px 10px; }
      .game .player-pick-container .pickButton:hover {
        background-color: #000;
        color: #FFF;
        transition: .6s;
        box-shadow: none; }
  .game .results {
    font-size: 30px;
    color: #FFF;
    font-weight: bold; }
    .game .results .row {
      margin: 0 auto;
      width: 40vw;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .game .results .row .player {
        display: flex;
        justify-content: flex-start;
        flex-grow: 1; }
        .game .results .row .player :nth-child(2) {
          margin: 0 0 10px 10px; }
      .game .results .row .VS {
        display: flex;
        justify-content: center;
        flex-grow: 2; }
      .game .results .row .computer {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1; }
        .game .results .row .computer :nth-child(2) {
          margin: 0 0 10px 10px; }
      .game .results .row .playerChoice {
        display: flex;
        justify-content: flex-start;
        flex-grow: 1; }
      .game .results .row .computerChoice {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1; }
      .game .results .row .playerResult {
        display: flex;
        justify-content: flex-start;
        flex-grow: 1;
        margin: 10px 0; }
      .game .results .row .computerResult {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        margin: 10px 0; }
      .game .results .row .playerChoice, .game .results .row .computerChoice, .game .results .row .playerResult, .game .results .row .computerResult {
        font-size: 25px;
        font-weight: normal; }

/*------------------------------*/
/* Footer */
/*------------------------------*/
footer {
  background-color: #000;
  color: #FFF; }
  footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 1200px;
    height: 80px;
    font-size: 15px;
    font-weight: bold; }
    footer .footer-container .copyright {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1; }
    footer .footer-container .contact, footer .footer-container .phone {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1; }
    footer .footer-container .city {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1; }

/*------------------------------*/
/*------------------------------*/
/* Responsive design */
/*------------------------------*/
/*------------------------------*/
/* For smartphones: */
/*------------------------------*/
@media (max-width: 767px) {
  .col-s-1 {
    flex: 8.333%; }

  .col-s-2 {
    flex: 16.667%; }

  .col-s-3 {
    flex: 25%; }

  .col-s-4 {
    flex: 33.333%; }

  .col-s-5 {
    flex: 41.667%; }

  .col-s-6 {
    flex: 50%; }

  .col-s-7 {
    flex: 58.333%; }

  .col-s-8 {
    flex: 66.667%; }

  .col-s-9 {
    flex: 75%; }

  .col-s-10 {
    flex: 83.333%; }

  .col-s-11 {
    flex: 91.667%; }

  .col-s-12 {
    flex: 100%; }

  .projects {
    height: 100%; } }
/* For tablets: */
/*------------------------------*/
@media (min-width: 768px) and (max-width: 1199px) {
  .col-m-1 {
    flex: 8.333%; }

  .col-m-2 {
    flex: 16.667%; }

  .col-m-3 {
    flex: 25%; }

  .col-m-4 {
    flex: 33.333%; }

  .col-m-5 {
    flex: 41.667%; }

  .col-m-6 {
    flex: 50%; }

  .col-m-7 {
    flex: 58.333%; }

  .col-m-8 {
    flex: 66.667%; }

  .col-m-9 {
    flex: 75%; }

  .col-m-10 {
    flex: 83.333%; }

  .col-m-11 {
    flex: 91.667%; }

  .col-m-12 {
    flex: 100%; }

  .projects {
    height: 100%; } }
/* For desktop: */
/*------------------------------*/
@media (min-width: 1200px) {
  .col-l-1 {
    flex: 8.333%; }

  .col-l-2 {
    flex: 16.667%; }

  .col-l-3 {
    flex: 25%; }

  .col-l-4 {
    flex: 33.333%; }

  .col-l-5 {
    flex: 41.667%; }

  .col-l-6 {
    flex: 50%; }

  .col-l-7 {
    flex: 58.333%; }

  .col-l-8 {
    flex: 66.667%; }

  .col-l-9 {
    flex: 75%; }

  .col-l-10 {
    flex: 83.333%; }

  .col-l-11 {
    flex: 91.667%; }

  .col-l-12 {
    flex: 100%; } }

/*# sourceMappingURL=style.css.map */
