@import url("https://fonts.googleapis.com/css?family=Lato");
/* SASS Variables */
/* General Style */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Lato, sans-serif; }

.button {
  height: 50px;
  width: 250px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  box-shadow: 0 20px 30px 0 #000;
  cursor: pointer; }

.activeButton:active {
  vertical-align: top;
  padding: 8px 13px 6px; }

.container {
  margin-top: 50px; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

/* Navigation */
header {
  background-color: #FFF;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0; }
  header .menu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end; }
    header .menu .portfolio {
      display: flex;
      align-items: center;
      flex: 1;
      font-weight: bold;
      font-size: 22px;
      text-transform: uppercase; }
    header .menu ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      margin: 0;
      height: 50px; }
      header .menu ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        cursor: pointer;
        transition: 1s; }
        header .menu ul li a {
          text-decoration: none;
          color: #000;
          font-weight: bold; }
          header .menu ul li a:hover {
            color: #14bd4c;
            font-size: 18px;
            transition: 0.5s; }

/* Jumbotron section*/
.jumbotron {
  background-color: #14bd4c;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  width: 100%; }
  .jumbotron .particles {
    width: 100%;
    height: 100%;
    background-image: url("");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    postition: relative; }
    .jumbotron .particles .text {
      color: white;
      font-size: 40px;
      font-weight: bold;
      position: absolute; }
      .jumbotron .particles .text h1 {
        margin: 0; }
    .jumbotron .particles .button-technology {
      background-color: #FFF;
      color: #14bd4c; }
      .jumbotron .particles .button-technology:hover {
        background-color: black;
        color: #FFF;
        transition: .8s;
        box-shadow: none; }

/* Skills section */
.img-html {
  background-image: url("../images/HTML5.png"); }

.img-css3 {
  background-image: url("../images/CSS3.png"); }

.img-js {
  background-image: url("../images/JS.png"); }

.skills {
  height: 100vh;
  background-color: #FFF; }
  .skills .flex-row {
    display: flex;
    max-width: 1200px;
    margin: 0 auto; }
    .skills .flex-row .progress-container {
      display: flex;
      flex-direction: column;
      max-width: 1200px;
      margin: 0 auto;
      width: 100%; }
      .skills .flex-row .progress-container .image-class {
        cursor: pointer; }
      .skills .flex-row .progress-container .image1 img {
        width: 100%; }
      .skills .flex-row .progress-container .image2 img {
        width: 100%; }
      .skills .flex-row .progress-container .image3 img {
        width: 100%; }
      .skills .flex-row .progress-container .progress {
        background-color: #DDDDDD;
        margin: 20px 10px;
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        width: 100%;
        cursor: pointer;
        box-shadow: 0 20px 30px 0 #000;
        color: #DDDDDD; }
        .skills .flex-row .progress-container .progress .html {
          width: 0.1%;
          text-align: right;
          display: flex; }

.skills .flex-row .progress-container .image1:hover + .progress .html {
  background-color: #F16529;
  box-shadow: none;
  color: #000;
  transition: 1s;
  width: 30%; }

.skills .flex-row .progress-container .image1:hover + .progress {
  box-shadow: none;
  transition: 1s; }

/* Projects section */
.projects {
  height: 100vh;
  background-color: #bdc3c7; }

/* Game section */
.span-label {
  height: 40px;
  width: 100px;
  margin: 0 10px;
  border: 2px solid;
  border-radius: 10px;
  font-weight: bold; }

.rock {
  color: #FFF;
  background-color: #000;
  border: #000; }

.paper {
  color: #000;
  background-color: #FFF;
  border: #FFF; }

.scissors {
  color: #000;
  background-color: #999999;
  border: #14bd4c; }

.game {
  height: 100vh;
  background-color: #e6e6e6;
  margin: 0;
  background-image: url("../images/girl_wall2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -80px;
  background-size: 100% 100%; }
  .game > h1 {
    text-align: center;
    font-size: 60px;
    margin: 0;
    margin-bottom: 150px;
    padding-top: 5%;
    color: #FFF; }
  .game .container-title {
    flex-wrap: wrap;
    margin: 100px auto; }
    .game .container-title > h1 {
      color: #FFF;
      font-size: 30px; }
  .game .new-game-container .newGameButton {
    background-color: #14bd4c; }
    .game .new-game-container .newGameButton:hover {
      color: #FFF;
      background-color: #0d7830;
      transition: .8s;
      box-shadow: none; }
  .game .player-pick-container {
    flex-wrap: wrap;
    margin: 70px 0; }
    .game .player-pick-container .pickButton {
      margin: 5px 10px; }
      .game .player-pick-container .pickButton:hover {
        background-color: #000;
        color: #FFF;
        transition: .6s;
        box-shadow: none; }
  .game .results {
    font-size: 30px;
    color: #FFF;
    font-weight: bold; }
    .game .results .row {
      margin: 0 auto;
      width: 40vw;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .game .results .row .player {
        display: flex;
        justify-content: flex-start;
        flex-grow: 1; }
        .game .results .row .player :nth-child(2) {
          margin: 0 0 10px 10px; }
      .game .results .row .VS {
        display: flex;
        justify-content: center;
        flex-grow: 2; }
      .game .results .row .computer {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1; }
        .game .results .row .computer :nth-child(2) {
          margin: 0 0 10px 10px; }
      .game .results .row .playerChoice {
        display: flex;
        justify-content: flex-start;
        flex-grow: 1; }
      .game .results .row .computerChoice {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1; }
      .game .results .row .playerResult {
        display: flex;
        justify-content: flex-start;
        flex-grow: 1;
        margin: 10px 0; }
      .game .results .row .computerResult {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        margin: 10px 0; }
      .game .results .row .playerChoice, .game .results .row .computerChoice, .game .results .row .playerResult, .game .results .row .computerResult {
        font-size: 25px;
        font-weight: normal; }

footer {
  background-color: #000;
  color: #FFF; }
  footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 1200px;
    height: 80px;
    font-size: 15px;
    font-weight: bold; }
    footer .footer-container .copyright {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1; }
    footer .footer-container .contact {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1; }
    footer .footer-container .phone {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1; }
    footer .footer-container .city {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1; }

/*# sourceMappingURL=style.css.map */
